.button {
  font-family: var(--font-secundary);
  background: var(--brown-700);
  font-size: 2rem;
  color: var(--gold-700);
  font-weight:700;
  border: 4px solid var(--brown-500);
  padding: 4px 1.5rem;
  transition: .3s ease-in-out;
}

.button:hover {
  background: var(--brown-800);
  border: 4px solid var(--brown-600);
  color: var(--gold-800);
}

@media(max-width:700px) {
  .button {
    font-weight:700;
    border: 4px solid var(--brown-500);
    padding: 4px 1rem;
  }
  
  
}