.cardContainer {
  background: url('/assets/images/frame-380-443.png');
  width: 380px;
  height: 443px;
}

.cardContainer > h4 {
  font-family: var(--font-drama);
  color: var(--gold-600);
  font-size: 1.5rem;
  font-weight: normal;
}

.cardContainer > p { 
  font-family: var(--font-secundary);
  font-weight: normal;
  font-size: 1.25rem;
  color: white;
  line-height: 1.3;
  text-align: center;
}

.cardContainer > span{
  font-size: 1.5rem;
  font-family: var(--font-secundary);
  font-weight: 700;
  color: var(--brown-100);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 28px 22px;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

@media(max-width:450px) {
  .icon {
    width: 80px;
    height: 80px;
  }

  .cardContainer {
    background: url('/assets/images/frame-280-327.png');
    width: 280px;
    height: 327px;
  }
  
  .cardContainer > h4 {
    font-size: 1.5rem;
  }
  
  .cardContainer > p { 
    font-size: 1rem;
    line-height: 1.3;
  }
  
  .cardContainer > span{
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .cardContainer {
    padding: 16px 10px;
    gap: 8px;
  }
}