.cardSobreContainer, .cardSobreContainerEven {
  padding: 1.25rem 3.125rem;
  display: flex;
  gap: 4.5rem;
  border: 4px solid var(--brown-900);
}

.cardSobreContainerEven {
  background: var(--brown-900);
}

.containerImage {
  border: 4px solid var(--brown-900);
}

.containerImage > img{
  min-width: 380px; 
  min-height: 280px;
  object-fit: cover;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentContainer > h3{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-family: var(--font-drama);
  font-weight: normal;
  color: var(--gold-600);
  padding-bottom: .2rem;
  border-bottom: 2px solid var(--brown-800);
}

.contentContainer > p {
  padding-top: 1rem;
  color: var(--brown-100);
  font-size: 1rem;
  font-weight: normal;
  font-family: var(--font-body);
}

@media(max-width: 980px) {
  .containerImage > img{
    min-width: 300px; 
    min-height: 221px;
  }
}

@media(max-width: 900px) {
  .containerImage > img{
    width: 100%; 
    min-height: 221px;
  }
  .cardSobreContainer, .cardSobreContainerEven {
    gap: 12px;
    flex-direction: column;
    width: 600px;
  }
  
}

@media(max-width: 600px) {
  .containerImage > img{
    width: 100%; 
    height: 180px;
  }
  .cardSobreContainer, .cardSobreContainerEven {
    width: 400px;
  }

  .contentContainer h3 {
    font-size: 1.5rem;
  }
  
  .contentContainer h3 img {
    display: none;
  }
}


@media(max-width: 400px) {
  .containerImage > img{
    display: none;
  }

  .containerImage {
    display: none;
  }
  .cardSobreContainer, .cardSobreContainerEven {
    width: 280px;
    padding: 1rem 1.5rem;
  }

  .contentContainer h3 {
    font-size: 1.5rem;
  }
  
  .contentContainer h3 img {
    display: none;
  }
}