.headerContainer {
  position: relative;
}

.header {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.iconHeader {
  width: 205px;
  height: 65px;
}


.header nav ul {
  display: flex;
  font-family: var(--font-secundary);
  color: #fff;
  font-size: 1.5rem;
  gap: 2.5rem;
}

.header nav ul li a:hover {
  transition: .3s ease-in-out;
}

.header nav ul li a:hover {
  color: var(--gold-500);
}

.buttonMenu {
  background: none;
  border: none;
  display: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}


@media(max-width: 56.25rem) {
  .header {
    margin-top: .5rem;
  }
  .header nav ul {
    font-size: 1.25rem;
    gap: 1.5rem;
  }

  .navegacao {
    position: relative;
  }
}

@media(max-width: 43.75rem) {
  .navegacao {
    display: none;
  }

  .navegacao.active  {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; 
    right: 0;
    width: 240px;
    background-color: var(--brown-900);
  }

  .navegacao.active ul {
    padding: 1.5rem 0;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }


  .buttonMenu {
    display: block;
  }
}

@media(max-width: 27.5rem) {
  .iconHeader > svg{
    width: 160px;
    height: 51px;
  }
}